<div *ngIf="current.temperature===0">
    No data Available
</div>
<div *ngIf="current.temperature!==0">
    <div>
        <div class="text">
            {{current.city}},{{current.country}}
        </div>
        
        <div class="text">
           {{current.date | date:"fullDate"}}
        </div>
        
    </div>
    <div>
       <span class="text"><img [src]="current.image" alt="image"/></span> 
        <span class="text">{{current.temperature | number: "1.0-0"}}&#8457;</span>
    </div>
    <div class="text">
        {{current.description}}
    </div>
</div>
